body[data-rcp-is-hover-effect-on='true'] *:hover:not(:has(*:hover)) {
  background-color: rgba(0, 0, 255, 0.1);
  outline: 1px solid rgba(0, 0, 255, 0.5);
}

#rcp-root,
#rcp-root * {
  pointer-events: none;
}
